  ---
  import circleFooter from "../assets/circleFooter.svg";
  import { Image } from "astro:assets";
  ---
  <!-- Footer -->
  <footer class="bg-p0 w-full">
    <div
      class="px-4 w-full max-w-6xl mx-auto py-12 md:grid md:grid-cols-2 md:py-32"
    >
      <div
        class="flex flex-col text-center mb-20 md:text-left md:justify-between md:mb-0 z-9"
      >
        <div class="text-bw0 text-4xl mb-2 md:text-7xl">
          Let's get in contact!
        </div>
        <a target="_blank"href="mailto:ahmdrafianto@gmail.com" class="text-bw0 text-3xl font-semibold md:text-4xl relative z-9">
          ahmdrafianto@gmail.com
          <Image
            src={circleFooter}
            alt="Circle Decor"
            class:list={"absolute w-[400px] -top-2 -z-1"}
          />
        </a>
      </div>

      <div
        class="grid grid-cols-2 text-bw0 md:flex md:flex-col md:text-left md:gap-8"
      >
        <div
          class="flex flex-col text-left justify-end gap-2 md:text-right opacity-75 md:order-2"
        >
          <a href="" class="text-[0.8rem] md:text-[1rem] pointer-events-none">©2025</a>
          <a href="" class="text-[0.8rem] md:text-[1rem] pointer-events-none">Ahmad Rafianto</a>
        </div>

        <div class="flex flex-col text-right gap-2 md:order-1">
          <a target="_blank" href="https://x.com/arafianto" class="text-[0.8rem] md:text-[1rem]"
            >Twitter</a
          >
          <a
            href="https://www.instagram.com/arafianto"
            class="text-[0.8rem] md:text-[1rem]">Instagram</a
          >
          <a
			target="_blank"
            href="https://www.linkedin.com/in/arafianto"
            class="text-[0.8rem] md:text-[1rem]">Linkedin</a
          >
          <a
			target="_blank"
            href="https://dribbble.com/arafianto"
            class="text-[0.8rem] md:text-[1rem]">Dribbble</a
          >
          <a 
			target="_blank"
		  	href="" class="text-[0.8rem] md:text-[1rem]">Resume</a>
        </div>
      </div>
    </div>
  </footer>