---

---

<header
  class="py-6 px-4 text-center absolute top-0 left-0 w-full flex sm:items-center justify-center bg-transparent md:justify-between"
>
  <div
    class="w-full max-w-6xl mx-auto flex justify-center items-center md:justify-between"
  >
    <a href="/" class="text-[1rem] tracking-tight">Ahmad Rafianto</a>
    <div class="hidden md:flex md:flex-row md:gap-14">
      <p class="text-[1rem]">UI Designer</p>
      <p class="text-[1rem]">Jakarta</p>
      <p class="text-[1rem]">ID</p>
    </div>
  </div>
</header>